*{
    box-sizing: border-box;
}


body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        /* min-height: 100vh; */
        height: 100vh;
        display: flex;
        flex-direction: column;
    
}

header{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    grid-area: header;
}

.topp-area{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

#logo {
    text-decoration: none;
    color: black;
    font-size:x-large;
    
}

.fa-solid fa-sliders{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kategorier{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.kategorier a{
    padding: 30px;
    text-decoration: none;
    color: black;

}

.avslag{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

 .utsjekk-bilde{
    width: 100px;
    padding: 5px;
 } 

.utsjekk-bilder img{
    display: block
}

.utsjekk-bilder h5{
    text-align: center;
}

#art1{
    display: flex;
    flex-direction: row;
    text-align: right; 
    gap: 5px;
}
#art2{
    display: flex;
    flex-direction: row;
    text-align: right; 
    gap: 5px;
}

.betalingbilder{
    width: 12%;   
}

.betaling-levering{
    display: flex;
    flex-direction: row;
    gap: 30%;
}

.filter{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

ul{
    list-style-type: none;
    justify-content: center;
}

main{
    /* flex-grow: 1; */
    grid-column: 1/span 1;
    grid-row: 2/ span 1;
}

.ikonernav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

.venstre-ikoner, .hoyre-ikoner{
    display: flex;
    gap: 18px;
}

.text1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.shadow1{
justify-content: space-between;
height: auto;
 /* margin: auto;  */
 padding: 2px; 
background-color: rgb(221, 214, 214);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

}  


.hvitesko{
    width: 40%;
   
}

.cowboy{
    width: 40%;
    
}

.hovedbilder{
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.tekst-til-nye{
    list-style: none;
    display: flex;
    justify-content: center;
}

.hvite-utenreim{
    width: 30%;
}

.sorte-new{
    width: 30%;
}

.hvite-reim{
    width: 30%;
}

.nye-items{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

 #grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 5fr 0fr;
 }
    


.image{
    width: 32%;
    padding: 14px;
}

.rad {
    display: flex;
    justify-content: center;
}

.bilderad{
    
    flex-direction: row;
}

.tekstrad{
    justify-content: space-evenly;
}

/* a{
    padding-left: 30px;
    
} */

 #Grid{ 
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
 }

.betalingsmuligheter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    margin-top: auto;

}
.bunnikoner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
}
.bunn-venstre{
        display: inline;
        gap: 10px;
        float: left;
    }
.bunn-hoyre{
    display: flex;
    flex-direction:row;
}

.bunn-produkt{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        /* padding: 25px; */
}

.shadow-box{
        /* width: 200px;
        height: 20px; */
        background-color: rgb(189, 179, 179);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    }

/*analyseside*/

.angelsgraf{
    width: 40%;
}
.angelsgraf{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.penskograf{
    width: 40%;
}

.penskograf{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.skograf{
    width: 40%;
}
.skograf{
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.hoyebootsgraf{
    width: 40%;
}
.hoyebootsgraf{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.bootsgraf{
    width: 40%;
}
.bootsgraf{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.loafersgraf{
    width: 40%;
}
.loafersgraf{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.tøflergraf{
    width: 40%;
}
.tøflergraf{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.heelsgraf{
    width: 40%;
}

.heelsgraf{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.hoyehaler{
    width: 40%;
}

.hoyehaler{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

table, th, td {
    border: 1px solid black;
}

.lighthouse_result{
    width: 30%;
}

.lighthouse_result{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.seo{
    width: 30%;
}

.seo{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.chatgpt_tekst{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.chatgpt_test{
    width: 35%;
}

.chatgpt{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.chatgpt1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.tabell_tekst{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.analyse_tabell{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
    
@media only screen and (min-width: 600px){
    #Grid{
    grid-template-areas: "header header header"  "main main main" "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 5fr 0fr;

    }
    main{
        grid-column: 1 / span 4;
    }
    footer{
        grid-column: 1 / span 4;
    }
}


   
